<% @tasks.each do |task| %>
  <h2><%=  task.title %></h2>
  <%= link_to task.title, task_path(task) %>
<%= link_to 'edit', edit_task_path(task) %> - <%= link_to 'remove', task_path(task), method: :delete, data: { confirm: 'are you sure?' } %>
    <% end %>
